div.header{
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    display: flex;
    height: 600px;
    max-width: 1320px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.header_content{
    align-items: center;
    justify-content: center;
    display:block;
    height: 400px;
    width: 1320px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.886), rgba(0, 0, 0, 0.228));
    padding-top: 200px;
    border-radius: 15px;
}
.header_content .header_title{
    color: white;
    font-size: 2em;
    text-align: center;
    margin: 0px;
    font-family: "Merriweather", serif;
}
.header_content .header_title_head1{
    color: white;
    font-size: 4em;
    text-align: center;
    margin: 0px;
    font-family: "Merriweather", serif;
}
.header_content .header_title_head2{
    color: white;
    font-size: 4em;
    text-align: center;
    margin: 0px;
    font-family: "Merriweather", serif;
}

/* shared styles */
.text_style{
    font-family: "Inter", serif;
    color: #FF0000;
}

/* offer styles */
div.offer_container{
    margin: 0 auto;
    max-width: 803px;
    height: 900px;
    justify-items: center;
}
.offer_rate{
    color: #FF0000;
    font-size: 4em;
    font-family: "Inter", serif;
    font-weight: bold;
    font-size: 88px;
}
.offer_holiday{
    font-weight: medium;
    font-size: 24px;
}

.offer_catagory{
    font-weight: bold;
    font-size: 48px;
}
/* Night party Styles */
.party_container{
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    max-width: 1320px;
    height: 600px;
    text-align: left;
}
.night{
    text-align: left;
    color: white;
}